<strong>E aí {{ organizer }}!</strong>
<p>Houve uma nova inscrição no seu <strong>meetup</strong> {{ meetup }}.</p>
<p>os dados da inscrição estão abaixo:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
